/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner {
    text-align: center;
    margin-top: 20px;
}

.banner img {
    max-width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #0056b3;
}





table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: #0056b3;
}
